.Rhistory
*.o
*.so
*.exe
*.R~
*.dll
*.zip
*.Rapp.history
*.RData
*.Rproj
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
rsconnect/
*.csv
.Rproj.user
update_fork.txt